<!-- main Atropos container (required), add your custom class here -->
<div [id]="'atropos-' + index">
  <!-- scale container (required) -->
  <div class="atropos-scale">
    <!-- rotate container (required) -->
    <div class="atropos-rotate">
      <!-- inner container (required) -->
      <div class="atropos-inner rounded-xl cursor-pointer">
        <img data-atropos-offset="1" class="rounded-xl" [src]="game.image" [alt]="game.name">
        <!-- put your custom content here -->
      </div>
    </div>
  </div>
</div>
<h3 class="pt-3">{{ game.name }}</h3>