<footer class="p-4 bg-gray-800 md:p-8 lg:p-10">
  <div class="mx-auto max-w-screen-xl text-center">
    <a routerLink="/home" class="flex justify-center items-center text-2xl font-semibold text-white">
      <img src="favicon.png" class="mr-2 h-8" alt="Site-Logo" />
      Juegoteca
    </a>
    <p class="my-6 text-gray-400">Trabajo practico de Ezequiel Melo para la UTN(Universidad
      Tecnologica Nacional) Laboratorio IV.</p>
    <ul class="flex flex-wrap justify-center items-center mb-6 text-white">
      <li>
        <a routerLink="/about-me" class="mr-4 hover:underline md:mr-6 ">Quien Soy</a>
      </li>
    </ul>
    <span class="text-sm sm:text-center text-gray-400">© 2024-2024 <a href="https://github.com/EzequielMelo"
        class="hover:underline">EzzMellow™</a>. All Rights Reserved.</span>
  </div>
</footer>