<header>
  <nav class="bg-gray-800 border-gray-200 px-4 lg:px-6 py-2.5 ">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
      <a routerLink="/home" class="flex items-center">
        <img src="favicon.png" class="mr-3 h-6 sm:h-9" alt="Site-Logo" />
        <span class="self-center text-xl font-semibold whitespace-nowrap text-white">Juegoteca</span>
      </a>
      <button data-collapse-toggle="navbar-default" type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul
          class="flex flex-col font-medium p-4 md:p-0 mt-4 border rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent hover:bg-gray-700 focus:outline-none focus:ring-gray-800">

          <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar"
            class="flex items-center justify-between w-full py-2 px-3 rounded hover:bg-gray-700 md:hover:bg-transparent md:border-0 text-white">
            @if(auth == true) {
            <avvvatars
              class="block py-2 pr-4 pl-3 text-white rounded bg-primary-700 lg:bg-transparent lg:text-primary-700 lg:p-0 dark:text-white"
              value="{{userName}}" />

            <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 4 4 4-4" />
            </svg>
            } @else {
            <a class="text-sm" routerLink="/login">Login</a>
            }
          </button>
          <div id="dropdownNavbar" class="hidden font-normal bg-gray-800 divide-y rounded-lg shadow w-44 z-50">
            @if(auth == true) {
            <ul class="py-2 text-sm text-white z-50" aria-labelledby="dropdownLargeButton">
              <li>
                <button (click)="logOut()"
                  class="block px-4 py-2 text-sm text-left text-white hover:bg-gray-700 w-full">Sign
                  out</button>
              </li>
            </ul>
            }
          </div>
        </ul>
      </div>
    </div>
  </nav>
</header>